<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - Quiz Master</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
 
  {% block head %}
  {% endblock %}
  {% block style %}
  {% endblock %}
</head>
<body>
  <div class='container-fluid mb-3 p-0'>
  <!-- Top Navigation Bar -->
  <nav class="navbar navbar-expand-sm navbar-dark bg_color w-100">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">Quiz Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
          <!-- Login Dropdown -->
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle bg_color" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="/login/admin">Admin Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/login/user">User Login</a></li>
            </ul>
          </div>
          
          <!-- Register DropDown -->
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle ms-3 bg_color" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-add"></i> Register
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/register/user">Register as User</a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>
  
  <!-- Top Navigation Bar Ends -->
  
{% with messages=get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
  
{% block content %}

{% endblock %}
  <div class="mb-3">
    <br>
  </div>
</div>

<!-- <nav class="navbar navbar-expand-sm navbar-light bg_color">
    <div class="container-fluid">
       <a class="navbar-brand ms-auto text-white" href="#" style="font-size: 14px;">&copy 2025 Quiz Master</a>
    </div>
</nav> -->

<footer style="
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #13072e;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    margin: 0;
    border-top: 2px solid #002d6b;">
    &copy; 2025 Quiz Master | Developed by 22f3002869 (Sumit Kumar)
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
  
  {% block script %}
  {% endblock %}
</body>
</html>
